<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Embedded Element Base</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                
                <div id="navbarMenuHeroA" class="navbar-brand">
                    {% if is_auth %}
                    <div class="navbar-menu is-active">

                        <a href="{% url 'ell_list:get_table' type='Resistors' %}" class="navbar-item">
                            Resistors
                        </a>
                        <a href="{% url 'ell_list:get_table' type='Capacitor' %}" class="navbar-item">
                            Capacitor
                        </a>
                        <a href="{% url 'ell_list:get_table' type='Diode' %}" class="navbar-item">
                            Diode
                        </a>

                        <a href="{% url 'ell_list:get_table' type='Transistor' %}" class="navbar-item">
                            Transistor
                        </a>

                        <a href="{% url 'ell_list:get_table' type='Chip' %}" class="navbar-item">
                            Chip
                        </a>
                        <a href="{% url 'logout' %}" class="navbar-item">
                            Logout
                        </a>
                    {% else %}
                        <a href="{% url 'account:singup' %}" class="navbar-item">
                            Sing Up
                        </a>
                        {% endif %}
                    </div>
                </div>
                
            </nav>
        </div>

        <div class="hero-body">

                {% block content %}
                {% endblock %}
        </div>
    </section>
</body>

</html>