{% extends "base.html" %}

{% block content %}
    <div class="tile is-ancestor columns">
    <div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
            <!--<div class="field">
                <div class="control">
                    <h2 calss="title">Login</h2>
                    <input class="input is-large" type="text" name="email" placeholder="Login" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <h2 calss="title">Password</h2>
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>-->
            {% csrf_token %}
                {{ form }}

            <input type="submit" value="Login" class=" "/>
        </form>
    </div>
</div>
    </div>
{% endblock %}