<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transistor</title>
</head>
<body>

<section>
    <h1>Resistors</h1>
    <table class="registros">
        <tr>
            <th>Resistance</th>
            <th>Unit</th>
            <th>Deviation</th>
            <th>Power Dissipation</th>
        </tr>
        {% for resistor in registros %}
            <tr class="resistor">
                <td>{{ resistor.resistance }}</td>
                <td>{{ resistor.unit }}</td>
                <td>{{ resistor.deviation }}</td>
                <td>{{ resistor.power_dissipation }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
</body>
</html>