    {% extends "html_code/wrapper.html" %}

    {% block content %}
>
    <title>My internet warehouse</title>

    <style>
             body {

                background-color: rgba(0, 0, 0, 0.11);
                opacity: 1;
            }

        </style>

    <style>
        #myHeader {
          position: absolute;
          top: 5px;
          left: 525px;

          border-radius: 7px;
          background-color: #71d48a;
          color: black;
          padding: 8px 10px;
          font-style: italic;
          text-align: center;
        }
        </style>



<style>

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  position: absolute;
  top: 170px;
  left: 525px;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 30px;
  font-style: oblique;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}

.button1:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}

.button2 {
  position: absolute;
  top: 170px;
  left: 680px;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 30px;
  font-style: oblique;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}

.button2:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}

.button3 {
  position: absolute;
  top: 170px;
  left: 853px;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 30px;
  font-style: oblique;
  background-color: Red;
  color: white;
  border: 2px solid Red;
}

.button3:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}

.button4 {
  position: absolute;
  top: 170px;
  left: 976px;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 30px;
  font-style: oblique;
  background-color: Gray;
  color: white;
  border: 2px solid Gray;
}

.button4:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}


.button5 {
  position: absolute;
  top: 170px;
  left: 1152px;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 30px;
  font-style: oblique;
  background-color: #ba5a00b4;
  color: white;
  border: 2px solid #ba5a00b4;
}

.button5:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}




.button10 {
  border-radius: 7px;
  margin: 0px 2px;
  font-size: 30px;
  padding: 8px 10px;
  background-color: #c5920598;
  color: white;
  border: 2px solid #c5920598;
}

.button10:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}

.button11 {
  position: absolute;
  top: 1%;
  right: 1%;


  font-size: 30px;
  border-radius: 7px;
  padding: 8px 13px;
  background-color: #c5920598;
  color: white;
  border: 2px solid #c5920598;
}

.button11:hover {
  border-radius: 7px;
  background-color: white;
  color: black;
}



</style>


<body>

<button class="button button10">Home</button>
<button class="button button11">English</button>


<h1 id="myHeader">W e l c o m___t o___R a d i o e l e m e n t___s t o r e !</h1>



<button class="button button1">Resistors</button>
<button class="button button2">Capasitors</button>
<button class="button button3">Diodes</button>
<button class="button button4">Transistors</button>
<button class="button button5">Chips</button>





</body>


    {% endblock %}
