<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>some app</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
 <div>
<h2>Login</h2>
{% if error %}<p class=error>
    <strong>Error:</strong> {{ error }}{% endif %}
    <form action="#" method=post>
        <dl>
            <dt>Username:
            <dd><input type=text name=username>
            <dt>Password:
            <dd><input type=password name=password>
            <dd><input type=submit value=Login>
        </dl>
    </form>
 </div>
<footer>
            <p></p>
</footer>
</body>
</html>